<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Política de Privacidade - LaudAI</title>
    <style>
        body {
            font-family: sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f2f2f2;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        main {
            padding: 20px;
            max-width: 800px;
            margin: 20px auto;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        h1, h2, h3 {
            color: #333;
        }

        p {
            line-height: 1.6;
        }
    </style>
</head>
<body>

    <header>
        <h1>Política de Privacidade - LaudAI</h1>
    </header>

    <main>
        <h2>Última atualização:10/06/2024</h2>

        <p>A LaudAI se compromete a proteger a privacidade dos seus usuários. Esta Política de Privacidade descreve como coletamos, usamos, divulgamos e protegemos as informações pessoais que você nos fornece.</p>

        <h3>1. Informações que Coletamos</h3>

        <h4>1.1 Informações Pessoais:</h4>

        <p>Podemos coletar informações pessoais que você nos fornece diretamente, como:</p>

        <ul>
            <li>Nome completo</li>
            <li>Endereço de e-mail</li>
            <li>Número de telefone</li>
            <li>Endereço de entrega</li>
            <li>Informações de pagamento (por exemplo, número do cartão de crédito)</li>
            <li>Informações de saúde (quando aplicável)</li>
            <li>Informações demográficas (por exemplo, idade, sexo)</li>
        </ul>

        <h4>1.2 Informações Não Pessoais:</h4>

        <p>Também podemos coletar informações não pessoais sobre você, como:</p>

        <ul>
            <li>Tipo de navegador</li>
            <li>Sistema operacional</li>
            <li>Endereço IP</li>
            <li>Páginas visitadas</li>
            <li>Data e hora de acesso</li>
            <li>Informações sobre o dispositivo que você está usando para acessar nossos serviços</li>
        </ul>

        <h3>2. Como Coletamos Informações</h3>

        <p>Coletamos informações pessoais de várias maneiras, incluindo:</p>

        <ul>
            <li>Quando você se registra em nossa plataforma</li>
            <li>Quando você faz uma compra</li>
            <li>Quando você entra em contato conosco para suporte</li>
            <li>Quando você participa de pesquisas ou concursos</li>
            <li>Quando você visita nosso site ou utiliza nossos serviços</li>
        </ul>

        <h3>3. Como Usamos suas Informações</h3>

        <p>Usamos as informações que coletamos para:</p>

        <ul>
            <li>Fornecer e melhorar nossos serviços</li>
            <li>Processar suas transações</li>
            <li>Enviar comunicações importantes, como atualizações sobre nossos serviços e mensagens de marketing</li>
            <li>Personalizar sua experiência com nossos serviços</li>
            <li>Responder às suas perguntas e solicitações</li>
            <li>Analisar o uso de nossos serviços e melhorar sua funcionalidade</li>
            <li>Cumprir com leis e regulamentações aplicáveis</li>
        </ul>

        <h3>4. Compartilhamento de Informações</h3>

        <p>Podemos compartilhar suas informações pessoais com terceiros, como:</p>

        <ul>
            <li>**Prestadores de serviços terceirizados:** Podemos contratar empresas terceirizadas para fornecer serviços em nosso nome, como processamento de pagamentos, atendimento ao cliente, análise de dados e marketing. Esses fornecedores só têm acesso às informações pessoais necessárias para desempenhar suas funções e são obrigados a mantê-las confidenciais.</li>
            <li>**Parceiros de negócios:** Podemos compartilhar informações pessoais com parceiros de negócios para fornecer produtos e serviços conjuntos.</li>
            <li>**Autoridades legais:** Podemos divulgar informações pessoais para cumprir com leis, regulamentos ou processos judiciais, incluindo solicitações judiciais ou de autoridades governamentais.</li>
            <li>**Proteção de direitos:** Podemos compartilhar informações pessoais para proteger os direitos, a propriedade ou a segurança da LaudAI, de nossos usuários ou de outros.</li>
        </ul>

        <h3>5. Segurança das Informações</h3>

        <p>Implementamos medidas de segurança administrativas, técnicas e físicas para proteger suas informações pessoais contra acesso não autorizado, divulgação, alteração ou destruição. No entanto, nenhum sistema de segurança é perfeito e não podemos garantir a segurança absoluta de suas informações.</p>

        <h3>6. Armazenamento de Informações</h3>

        <p>Armazenamos suas informações pessoais por um período razoável para os fins descritos nesta Política de Privacidade, ou conforme exigido por lei.</p>

        <h3>7. Cookies e Tecnologias Semelhantes</h3>

        <p>Utilizamos cookies e tecnologias semelhantes para coletar e armazenar informações. Você pode configurar seu navegador para recusar cookies, mas isso pode afetar sua capacidade de utilizar alguns recursos de nosso site.</p>

        <h3>8. Seus Direitos</h3>

        <p>Você tem o direito de:</p>

        <ul>
            <li>Acessar e corrigir suas informações pessoais</li>
            <li>Solicitar a exclusão de suas informações pessoais</li>
            <li>Recusar o recebimento de comunicações de marketing</li>
            <li>Revogar seu consentimento para o tratamento de suas informações pessoais</li>
        </ul>

        <h3>9. Contato</h3>

        <p>Se você tiver alguma dúvida sobre esta Política de Privacidade, entre em contato conosco em laudairadiologista@gmail.com.</p>

        <h3>10. Alterações nesta Política de Privacidade</h3>

        <p>Podemos atualizar esta Política de Privacidade de tempos em tempos. Postaremos qualquer alteração em nosso site. Incentivamos você a verificar esta página periodicamente para saber sobre quaisquer atualizações.</p>

      
    </main>

</body>
</html>
